* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px; /* Add padding to body for extra space */
    overflow-y: auto; /* Ensure scrolling is allowed */
}

.container {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#title {
    color: #2c3e50;
    margin-bottom: 10px; /* Reduced margin */
    font-size: 22px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 14px;
    color: #2c3e50;
}

input[type="number"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

input[type="number"]::placeholder {
    color: #888;
}

select {
    background-color: #ffffff;
}

button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

p {
    font-size: 16px;
    color: #27ae60;
}
